@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #10B981;
  --color-primary-dark: #059669;

  --color-background-light: #F8FAFC;
  --color-background-dark: #0F172A;

  --color-text-main: #0F172A;
  --color-text-secondary: #64748B;
  --color-text-main-dark: #F8FAFC;

  --color-card: #FFFFFF;
  --color-card-dark: #1E293B;

  --color-border: #E2E8F0;
  --color-border-dark: #2a3b4d;

  --font-sans: "Vazirmatn";
}